<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            id="tern.eclipse.ide.contenttype.js"
            name="Java Script"
            base-type="org.eclipse.core.runtime.text"
            file-extensions="js">
      </content-type>
      <content-type
            id="tern.eclipse.ide.contenttype.html"
            name="HTML"
            base-type="org.eclipse.core.runtime.text"
            file-extensions="html,htm,xhtml,htpl,wml,shtml,shtm">
      </content-type>
      <content-type
            id="tern.eclipse.ide.contenttype.vue"
            name="VUE"
            base-type="org.eclipse.core.runtime.text"
            file-extensions="vue">
      </content-type>
   </extension>   
	
	<extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="tern.eclipse.ide.contenttype.js"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
      <editorContentTypeBinding
            contentTypeId="tern.eclipse.ide.contenttype.html"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
      <editorContentTypeBinding
            contentTypeId="tern.eclipse.ide.contenttype.vue"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>
   
   <extension
         point="org.eclipse.ui.genericeditor.hoverProviders">
      <hoverProvider
            class="tern.eclipse.ide.genericeditor.hover.TernGenericeditorHover"
            contentType="tern.eclipse.ide.contenttype.js">
      </hoverProvider>
      <hoverProvider
            class="tern.eclipse.ide.genericeditor.hover.TernGenericeditorHover"
            contentType="tern.eclipse.ide.contenttype.html">
      </hoverProvider>
      <hoverProvider
            class="tern.eclipse.ide.genericeditor.hover.TernGenericeditorHover"
            contentType="tern.eclipse.ide.contenttype.vue">
      </hoverProvider>
   </extension>
	
	<extension
         point="org.eclipse.ui.genericeditor.contentAssistProcessors">
      <contentAssistProcessor
            class="tern.eclipse.ide.genericeditor.contentassist.TernContentAssistProcessor"
            contentType="tern.eclipse.ide.contenttype.js">
      </contentAssistProcessor>
      <contentAssistProcessor
            class="tern.eclipse.ide.genericeditor.contentassist.TernContentAssistProcessor"
            contentType="tern.eclipse.ide.contenttype.html">
      </contentAssistProcessor>
      <contentAssistProcessor
            class="tern.eclipse.ide.genericeditor.contentassist.TernContentAssistProcessor"
            contentType="tern.eclipse.ide.contenttype.vue">
      </contentAssistProcessor>
   </extension>
   
</plugin>
