<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!--Studio 透视图-->
   <extension
         point="org.eclipse.ui.perspectives">
         <perspective
            name="Studio"
            icon="icons/studio.gif"
            class="com.tulin.v8.ide.perspectives.RelEngPerspective"
            id="com.tulin.v8.ide.perspectives.RelEngPerspective">
      	</perspective>
   </extension>
    
    <!--Viewer-->
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%category.name.2"
            id="TuLin">
      </category>
      <view
            category="TuLin"
            class="com.tulin.v8.ide.views.navigator.ModelView"
            id="com.tulin.v8.ide.navigator.views.modelview"
            icon="icons/model_viewer.png"
            name="%view.name"/>
   </extension>
   <extension point="org.eclipse.team.core.ignore">
        <ignore pattern="bin" enabled="true"/>
        <ignore pattern="classes" enabled="true"/>
        <ignore pattern=".data" enabled="true"/>
   </extension>
   
   <!--首选项-->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%page.name"
            class="com.tulin.v8.ide.preferences.StudioPreferencePage"
            id="com.tulin.v8.ide.preferences.StudioPreferencePage">
      </page>
      <page name="%page.name.4"
      		category="com.tulin.v8.ide.preferences.StudioPreferencePage"
            class="com.tulin.v8.ide.preferences.DataSousePermissionPage"
            id="com.tulin.v8.ide.preferences.DataSousePermissionPage">
      </page>
   </extension>
   
   <!--新建向导-->
    <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%category.name.1"
            id="TuLin">
      </category>
      <wizard
            name="%wizard.name.0"
            icon="icons/page.gif"
            category="TuLin"
            class="com.tulin.v8.ide.wizards.SampleNewWizard"
            id="com.tulin.v8.ide.wizards.SampleNewWizard">
      </wizard>
      <wizard
            name="%wizard.name.2"
            icon="icons/mybatisico.png"
            category="TuLin"
            class="com.tulin.v8.ide.wizards.NewMapperWizard"
            id="com.tulin.v8.ide.wizards.NewMapperWizard">
            <keywordReference id="org.eclipse.jdt.ui.wizards.java"/>
      </wizard>
   </extension>
   
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IResource"
            id="com.tulin.v8.ide.wizards.contribution">
         <menu
               icon="icons/tulin.png"
               id="Menu1"
               label="%category.name.1">
      		<separator name="Group1"/>
   		 </menu>
         <action
               label="%menu.wizard.name.0"
               class="com.tulin.v8.ide.popup.actions.NewPageFileAction"
               icon="icons/page.gif"
               menubarPath="Menu1/Group1"
               enablesFor="1"
               id="com.tulin.v8.ide.actions.NewPageFileAction">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.jdt.core.IPackageFragment"
            id="com.tulin.v8.ide.wizards.contribution">
         <menu
               icon="icons/tulin.png"
               id="Menu2"
               label="%category.name.1">
      		<separator name="Group2"/>
   		 </menu>
         <action
               label="%menu.wizard.name.1"
               class="com.tulin.v8.ide.popup.actions.NewMapperAction"
               icon="icons/mybatisico.png"
               menubarPath="Menu2/Group2"
               enablesFor="1"
               id="com.tulin.v8.ide.actions.NewPageFileAction">
         </action>
      </objectContribution>
   </extension>
   
   <!-- 编辑器 -->
   <extension point="org.eclipse.ui.editors">
		<!--
		<editor class="com.tulin.v8.ide.ui.editors.page.WebPageEditor1"
			contributorClass="com.tulin.v8.ide.ui.editors.MultiPageEditorContributor"
			extensions="jsp,jspx,jsf"
			icon="icons/page1.gif"
			id="com.tulin.v8.ide.ui.editors.page.WebPageEditor1"
			name="%editor.name.1">
		</editor>
		<editor class="com.tulin.v8.ide.ui.editors.page.WebPageEditor1"
			contributorClass="com.tulin.v8.ide.ui.editors.MultiPageEditorContributor"
			extensions="html,htm,xhtml"
			icon="icons/page1.gif"
			id="com.tulin.v8.ide.ui.editors.page.WebPageEditor2"
			name="%editor.name.0">
		</editor>
		-->
		<editor
            name="%editor.name.10"
            extensions="table"
            icon="icons/table.gif"
            class="com.tulin.v8.ide.editors.data.DataEditor"
            contributorClass="com.tulin.v8.ide.editors.MultiPageEditorContributor"
            id="com.tulin.v8.ide.editors.data.DataEditor">
      </editor>
	</extension>
   
   <!--启动项-->
   <!--
   <extension
         id="StudioStartup"
         name="StudioStartup"
         point="org.eclipse.ui.startup">
      <startup
            class="com.tulin.v8.ide.StudioStartup">
      </startup>
   </extension>
   -->
   
   <!--帮助文档-->
   <extension
         point="org.eclipse.help.toc">
      <toc file="toc.xml" primary="true"/>
      <toc
            file="topics_api.xml"
            primary="false">
      </toc>
   </extension>

</plugin>
