<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.tulin.v8.echarts.ui.editors.echt.EchartsEditor"
            contributorClass="com.tulin.v8.echarts.ui.editors.MultiPageEditorContributor"
            default="true"
            extensions="echt"
            icon="icons/echart.gif"
            id="com.tulin.v8.echarts.ui.editors.echt.EchartsEditor"
            name="%editor.name.echarts">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="TuLin"
            class="com.tulin.v8.echarts.ui.wizards.ChartNewWizard"
            icon="icons/echart.gif"
            id="com.tulin.v8.ide.wizards.ChartNewWizard"
            name="%newWizards.name.echarts">
      </wizard>
   </extension>
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IResource"
            id="com.tulin.v8.echarts.ui.wizards.contribution">
         <action
               label="%menu.name.newecharts"
               class="com.tulin.v8.echarts.ui.popup.actions.NewEChatsFileAction"
               icon="icons/echart.gif"
               menubarPath="Menu1/Group1"
               enablesFor="1"
               id="com.tulin.v8.echt.action.ChartNewWizard">
         </action>
      </objectContribution>
   </extension>

</plugin>
