<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.tulin.v8.editors.page.WebPageEditor"
            contributorClass="com.tulin.v8.editors.page.MultiPageEditorContributor"
            default="true"
            extensions="html,xhtml"
            icon="icons/page.gif"
            id="com.tulin.v8.editors.page.WebPageEditor"
            name="%editor.name.page">
      </editor>
   </extension>

</plugin>
