<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension id="com.tulin.v8.ide" point="org.eclipse.core.runtime.products">
      <product name="TuLin IDE" application="org.eclipse.ui.ide.workbench" >
          <property name="windowImages" value="tlv8ide16.png,tlv8ide32.png,tlv8ide48.png,tlv8ide64.png,tlv8ide128.png"/> 
          <property name="aboutImage" value="eclipse_lg.png"/> 
          <property name="aboutText" value="%productBlurb"/> 
          <property name="appName" value="TuLin IDE"/> 
          <property name="preferenceCustomization" value="plugin_customization.ini"/> 
          
          <property
          		name="introTitle"
          		value="%productIntroTitle"/>
          <property
          		name="introBrandingImage"
          		value="product:intro-eclipse.png"/>
          <property
          		name="introBrandingImageText"
          		value="%productIntroBrandingText"/>
		  <property
				name="introDescription-overview"
				value="%introDescription-overview"/>
		  <property
				name="introDescription-tutorials"
				value="%introDescription-tutorials"/>
		  <property
				name="introDescription-samples"
				value="%introDescription-samples"/>
		  <property
				name="applicationXMI"
				value="org.eclipse.platform/LegacyIDE.e4xmi">
		  </property>
		  <property
				name="cssTheme"
				value="org.eclipse.e4.ui.css.theme.e4_default">
		  </property>
		  <property
				name="applicationCSSResources"
          		value="platform:/plugin/org.eclipse.ui.themes/images/">
		  </property>
		  
		  <property
        		name="startupForegroundColor"
            value="51f544"/>
          <property
                name="startupMessageRect"
                value="7,265,320,20"/>
          <property
                name="startupProgressRect"
                value="2,290,448,10"/>
          <property
                name="buildIdLocation"
                value="0,220">
          </property>
          <property
                name="buildIdSize"
                value="395,40">
          </property>
      </product>
   </extension>
   
   <extension
		point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="com.tulin.v8.ide">
      </introProductBinding>
    </extension>
    
    <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="com.tulin.v8.ide.splashHandlers.InteractiveSplashHandler"
            id="com.tulin.v8.ide.splashHandlers.interactive">
      </splashHandler>
      <splashHandlerProductBinding
            splashId="com.tulin.v8.ide.splashHandlers.interactive"
            productId="com.tulin.v8.ide">
      </splashHandlerProductBinding>
   </extension>

</plugin>
