* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: Tahoma, Arial, Helvetica, Sans-serif;
	font-size: 12px;
}
!important {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: Tahoma, Arial, Helvetica, Sans-serif;
	font-size: 12px;
}

v\:* {
	BEHAVIOR: url(#default#VML)
}

body {
	margin: 0, 0, 0, 0;
}

#group {
	/*position: absolute;
	top: 0px;
	left: 0px;*/
	height: 100%;
	width: 100%;
	/*z-index: -1000;*/
}

#menu table {
	font-size: 11px;
	background-image: url(img/menubg.gif);
	z-index: 1000;
	height: 100%;
}

#menu td {
	white-space: nowrap;
}

#movebar {
	font-size: 11px;
	z-index: 1000;
	cursor: move;
	height: 30;
	width: 8;
}

#movebar div {
	height: 30;
	width: 8;
	background-image: url(img/grid-blue-split.gif);
}

#menu img {
	vertical-align: middle;
	height: 16px;
}

#menu span {
	vertical-align: bottom;
	cursor: hand;
	padding-left: 3px;
	padding-top: 5px;
	padding-bottom: 2px;
	padding-right: 5;
}

.x-window {
	
}

.x-window-tc {
	background: transparent url(img/window/top-bottom.png) repeat-x 0 0;
	overflow: hidden;
	zoom: 1;
	height: 25px;
	padding-top: 5px;
	font-size: 12px;
	cursor: move;
}

.x-window-tl {
	background: transparent url(img/window/left-corners.png) no-repeat 0 0;
	padding-left: 6px;
	zoom: 1;
	z-index: 1;
	position: relative;
}

.x-window-tr {
	background: transparent url(img/window/right-corners.png) no-repeat
		right 0;
	padding-right: 6px;
}

.x-window-bc {
	background: transparent url(img/window/top-bottom.png) repeat-x 0 bottom
		;
	zoom: 1;
	text-align: center;
	height: 30px;
	padding-top: 4px;
}

.x-window-bl {
	background: transparent url(img/window/left-corners.png) no-repeat 0
		bottom;
	padding-left: 6px;
	zoom: 1;
}

.x-window-br {
	background: transparent url(img/window/right-corners.png) no-repeat
		right bottom;
	padding-right: 6px;
	zoom: 1;
}

.x-window-mc {
	border: 1px solid #99bbe8;
	padding: 0;
	margin: 0;
	font: normal 11px tahoma, arial, helvetica, sans-serif;
	background: #dfe8f6;
	width: 384px;
	height: 231px;
}

.x-window-ml {
	background: transparent url(img/window/left-right.png) repeat-y 0 0;
	padding-left: 6px;
	zoom: 1;
}

.x-window-mr {
	background: transparent url(img/window/left-right.png) repeat-y right 0;
	padding-right: 6px;
	zoom: 1;
}

.x-tool-close {
	overflow: hidden;
	width: 15px;
	height: 15px;
	float: right;
	cursor: pointer;
	background: transparent url(img/window/tool-sprites.gif) no-repeat;
	background-position: 0 -0;
	margin-left: 2px;
}

.x-tab-panel-header {
	border: 1px solid #8db2e3;
	padding-bottom: 2px;
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
	height: 26px;
}

.x-tab-panel-body {
	overflow-y: auto;
	height: 200px;
	display: none;
}

.x-tab-panel-body-show {
	overflow-y: auto;
	height: 200px;
	padding-top: 3px;
}

.x-tab-strip-top {
	float: left;
	width: 100%;
	height: 27px;
	padding-top: 1px;
}

.x-tab-strip-wrap {
	width: 100%;
	border-bottom: 1px solid #8db2e3;
}

.x-tab-strip-top ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.x-tab-strip-top li {
	float: left;
	display: block;
	width: 60px;
	padding-left: 3px;
	text-align: center;
	font-size: 11px;
}

.x-tab-strip-top .x-tab-left {
	background: transparent url(img/window/tabs-sprite.gif) no-repeat 0
		-51px;
	padding-left: 10px;
}

.x-tab-strip-top .x-tab-right {
	background: transparent url(img/window/tabs-sprite.gif) no-repeat right
		-351px;
	padding-right: 10px;
}

.x-tab-strip-top .x-tab-middle {
	background: transparent url(img/window/tabs-sprite.gif) repeat-x 0
		-201px;
	height: 25px;
	overflow: hidden;
	padding-top: 5px;
	cursor: hand;
}

.x-tab-strip-top .x-tab-strip-active .x-tab-left {
	background: transparent url(img/window/tabs-sprite.gif) no-repeat 0 0px;
	padding-left: 10px;
}

.x-tab-strip-top .x-tab-strip-active .x-tab-right {
	background: transparent url(img/window/tabs-sprite.gif) no-repeat right
		-301px;
	padding-right: 10px;
}

.x-tab-strip-top .x-tab-strip-active .x-tab-middle {
	background: transparent url(img/window/tabs-sprite.gif) repeat-x 0
		-151px;
	height: 25px;
	overflow: hidden;
	padding-top: 5px;
	font-weight: bold;
	cursor: hand;
}

.x-form-field {
	font-family: tahoma, arial, helvetica, sans-serif;
	font-size: 12px;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: normal;
	margin: 0;
	border: 1px solid #B5B8C8;
	padding: 1px 3px;
	width: 200;
	overflow: hidden;
}

.btn {
	BORDER-RIGHT: #7b9ebd 1px solid;
	PADDING-RIGHT: 2px;
	BORDER-TOP: #7b9ebd 1px solid;
	PADDING-LEFT: 2px;
	FONT-SIZE: 12px;
	FILTER: progid : DXImageTransform.Microsoft.Gradient ( GradientType = 0,
		StartColorStr = #ffffff, EndColorStr = #cecfde );
	BORDER-LEFT: #7b9ebd 1px solid;
	CURSOR: hand;
	COLOR: black;
	PADDING-TOP: 2px;
	BORDER-BOTTOM: #7b9ebd 1px solid
}

.toolbar_line{
	position: relative;
	top: expression(this.parentElement.scrollTop-1);
	z-index: 2;
}