/* CSS Document */
table {
	width:750px;
	border-collapse: collapse;
	text-align:left;
	}
	
table td{
    border:#778899 1px solid;
	text-align:left;
}

div {
	width:750px;
}

.tab_head{
	width:750px;
	height:25px;
	line-height:25px;
	background-color:#778899
}

.td_left{
	text-align:right
}


.text_css_example {
	font-family: "ו";
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-align: left;
	vertical-align: baseline;
	white-space: pre;
	text-indent: 100px;
}
a:link {
	color: #0099CC;
}
a:visited {
	color: #0099CC;
}
a:hover {
	color: #0099CC;
}
a:active {
	color: #0099CC;
}