<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.editors">
		<editor
	        contributorClass="org.eclipse.wst.jsdt.internal.ui.javaeditor.CompilationUnitEditorActionContributor"
            class="org.eclipse.wst.jsdt.internal.ui.javaeditor.CompilationUnitEditor"
	        default="true"
	        extensions="js"
	        icon="icons/js.gif"
	        id="com.tulin.v8.ide.ui.editors.javascript.JavaScriptEditor"
	        name="%editor.name.8">
			<contentTypeBinding contentTypeId="org.eclipse.wst.jsdt.core.jsSource" /> 
	    </editor>
	</extension>
</plugin>