<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.7"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Markdown Editor"
            extensions="txt,md,mdown,markdown,mdwn"
            icon="icons/notepad.gif"
            contributorClass="com.tulin.v8.markdown.editors.ActionBarContributor"
            class="com.tulin.v8.markdown.editors.MarkdownMuEditor"
            id="com.tulin.v8.markdown.editors.MarkdownEditor"
            default="true">
      </editor>
      
      <editor
            class="com.tulin.v8.markdown.editors.MarkdownMuEditor"
            contributorClass="com.tulin.v8.markdown.editors.ActionBarContributor"
            default="true"
            extensions="litcoffee"
            icon="icons/coffee.png"
            id="org.nodeclipse.ui.editors.LitCoffeeEditor"
            name="LitCoffee (Markdown) Editor">
      </editor>
      
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.tulin.v8.markdown"
            name="Markdown"/>
      <view
            category="com.tulin.v8.markdown"
            class="com.tulin.v8.markdown.views.MarkdownPreview"
            icon="icons/notepad.gif"
            id="com.tulin.v8.markdown.views.MarkdownPreview"
            name="Markdown View"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.tulin.v8.markdown.preferences.MarkdownPreferencePage"
            id="com.tulin.v8.markdown.preferences.MarkdownPreferencePage"
            name="Markdown"
            category="com.tulin.v8.ide.preferences.StudioPreferencePage">
         <keywordReference
               id="com.tulin.v8.markdown.prefsKeywordReference">
         </keywordReference>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="com.tulin.v8.markdown.prefsKeywordReference"
            label="word wrapping tool tags">
      </keyword>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.tulin.v8.markdown.editors.FormatAction"
            description="Format the paragraph under the caret to fit the print margins by inserting/removing line-breaks"
            id="com.tulin.v8.markdown.formatParagraphCommand"
            name="Format paragraph">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.tulin.v8.markdown.formatParagraphCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Alt+Q">
      </key>
   </extension>

</plugin>
