<?xml version="1.0" encoding="UTF-8"?>
<root>
	<item label="电脑页面">
		<item label="列表">
			<item label="简单列表" img="image/simpleGrid.png" templet="simpleGrid" />
			<item label="主从列表" img="image/directGrid.png" templet="directGrid" />
		</item>
		<item label="详细">
			<item label="单表详细" img="image/simpleDetail.png" templet="simpleDetail" />
			<item label="列表详细(tab)" img="image/listdetailTag.png" templet="listdetailTag" />
			<item label="列表详细(open)" img="image/listDetailportal.png" templet="listDetailportal" />
			<item label="主从详细" img="image/simpleDirct.png" templet="simpleDirct" />
		</item>
		<item label="流程">
			<item label="单表流程" img="image/simpleFlow.png" templet="simpleFlow" />
			<item label="主从流程" img="image/directFlow.png" templet="directFlow" />
		</item>
		<item label="树">
			<item label="简单树形" img="image/treeTemplet.png" templet="treeTemplet" />
			<item label="左边树形" img="image/LeftTreeRightList.png" templet="LefttreeTemplet" />
			<item label="树形列表" img="image/treeGrid.jpg" templet="treeGridTemplet" />
		</item>
		<item label="对话框">
			<item label="列表单选对话框" img="image/gridSelectDialog.jpg" templet="gridSelectDialogTemplet"/>
			<item label="列表多选对话框" img="image/gridCheckDialog.jpg" templet="gridCheckDialogTemplet"/>
		</item>
	</item>
	<item label="手机页面">
		<item label="树形">
			<item label="手机树形" img="image/mobileTree.jpg" templet="mobileTree" />
		</item>
		<item label="列表">
			<item label="手机版列表" img="image/mobileList.png" templet="mobileList" />
		</item>
		<item label="表单">
			<item label="手机版表单" img="image/mobilesimpleForm.jpg" templet="mobilesimpleForm" />
		</item>
		<item label="流程">
			<item label="手机版流程表单" img="image/mobileFlow.jpg" templet="mobileFlow" />
		</item>
	</item>
	<item label="其他">
		<item label="空白页面" img="" templet="BlankPage" />
	</item>
</root>