.dtree {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
	white-space: nowrap;
	padding-left:4px;
}
.dtree img {
	border: 0px;
	vertical-align: middle;
}
.dtree a {
	color: #333;
	text-decoration: none;
}
.dtree a.node, .dtree a.nodeSel {
	white-space: nowrap;
	padding: 1px 2px 1px 2px;
}
.dtree a.node:hover, .dtree a.nodeSel:hover {
	color: #333;
	text-decoration: underline;
}
.dtree a.nodeSel {
	background-color: #c0d2ec;
}
.dtree .clip {
	overflow: hidden;
}
p{
		font-family:arial;
		
	}
	
	.tree{
		margin:0px;
		padding:0px;
	}
	.tree ul{	/*子结点*/
		margin-left:20px;	/* Left spacing */
		padding-left:0px;
	}
	.tree li{	/* 结点 */ 
		list-style-type:none;
		vertical-align:middle;
		
	}
	.tree li a{	/* 结点连接 */
		color:#000;
		text-decoration:none;
		font-family:arial;
		font-size:0.8em;
		padding-left:2px;
	}