<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!--Studio 透视图-->
   <extension
         point="org.eclipse.ui.perspectives">
         <perspective
            name="Studio"
            icon="icons/studio.gif"
            class="com.tulin.v8.ide.perspectives.RelEngPerspective"
            id="com.tulin.v8.ide.perspectives.RelEngPerspective">
      	</perspective>
   </extension>
    
    <!--Viewer-->
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%category.name.2"
            id="TuLin">
      </category>
      <view
            category="TuLin"
            class="com.tulin.v8.ide.views.navigator.ResourseViewer"
            id="com.tulin.v8.ide.navigator.views.ResourseViewer"
            icon="icons/studio_resource_view.gif"
            name="%views.name.resourse"/>
      <view
            category="TuLin"
            class="com.tulin.v8.ide.views.navigator.ModelView"
            id="com.tulin.v8.ide.navigator.views.modelview"
            icon="icons/model_viewer.png"
            name="%view.name"/>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer viewerId="com.tulin.v8.ide.navigator.views.ResourseViewer"/>
      <viewerActionBinding 
            viewerId="com.tulin.v8.ide.navigator.views.ResourseViewer"> 
         <includes> 
            <actionExtension 
                  pattern="org.eclipse.ui.navigator.resources.*"> 
            </actionExtension> 
         </includes> 
      </viewerActionBinding>
      <viewerContentBinding viewerId="com.tulin.v8.ide.navigator.views.ResourseViewer">
         <includes>
         	<contentExtension pattern="org.eclipse.ui.navigator.resourceContent"/> 
            <contentExtension pattern="org.eclipse.ui.navigator.resources.*"/> 
            <contentExtension pattern="org.eclipse.ui.navigator.resources.filters.*"/>
            <contentExtension pattern="org.eclipse.ui.navigator.resources.linkHelper"/>
            <contentExtension pattern="org.eclipse.ui.navigator.resources.workingSets"/>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.team.core.ignore">
        <ignore pattern="bin" enabled="true"/>
        <ignore pattern="classes" enabled="true"/>
        <ignore
              enabled="true"
              pattern=".data">
        </ignore>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.debug.ui.DebugPerspective">
         <perspectiveShortcut id="org.eclipse.jdt.ui.JavaPerspective"/>
         <perspectiveShortcut id="org.eclipse.jdt.ui.JavaBrowsingPerspective"/>
         <actionSet id="org.eclipse.jdt.ui.JavaActionSet"/>
         <showInPart id="com.tulin.v8.ide.navigator.views.ResourseViewer"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
         <perspectiveShortcut id="org.eclipse.debug.ui.DebugPerspective"/>
         <perspectiveShortcut id="org.eclipse.jdt.ui.JavaBrowsingPerspective"/>
         <showInPart id="com.tulin.v8.ide.navigator.views.ResourseViewer"/>
         <viewShortcut id="org.eclipse.pde.runtime.LogView"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         <perspectiveShortcut id="org.eclipse.jdt.ui.JavaPerspective"/>
         <perspectiveShortcut id="org.eclipse.debug.ui.DebugPerspective"/>
         <showInPart id="com.tulin.v8.ide.navigator.views.ResourseViewer"/>
         <viewShortcut id="org.eclipse.pde.runtime.LogView"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaHierarchyPerspective">
         <perspectiveShortcut id="org.eclipse.jdt.ui.JavaPerspective"/>
         <perspectiveShortcut id="org.eclipse.jdt.ui.JavaBrowsingPerspective"/>
         <perspectiveShortcut id="org.eclipse.debug.ui.DebugPerspective"/>
         <showInPart id="com.tulin.v8.ide.navigator.views.ResourseViewer"/>
         <viewShortcut id="org.eclipse.pde.runtime.LogView"/>
      </perspectiveExtension>
   </extension>

   <!--Filters-->
   <extension
         point="org.eclipse.jdt.ui.javaElementFilters">
      <filter
            targetId="com.tulin.v8.ide.navigator.views.ResourseViewer"
            name="%filters.name.1"
            enabled="true"
            description="%filters.value.1"
            pattern=".*">
      </filter>
      <filter
            targetId="com.tulin.v8.ide.navigator.views.ResourseViewer"
            name="%filters.name.2"
            enabled="true"
            description="%filters.value.2"
            class="com.tulin.v8.ide.views.navigator.filters.InnerClassFilesFilter"
            id="com.tulin.v8.ide.views.navigator.filters.HideInnerClassFilesFilter">
      </filter>
      <filter
            targetId="com.tulin.v8.ide.navigator.views.ResourseViewer"
            name="%filters.name.3"
            enabled="false"
            description="%filters.value.3"
            class="com.tulin.v8.ide.views.navigator.filters.EmptyPackageFilter"
            id="com.tulin.v8.ide.views.navigator.filters.EmptyPackageFilter">
      </filter>
      <filter
            targetId="com.tulin.v8.ide.navigator.views.ResourseViewer"
            name="%filters.name.4"
            enabled="true"
            description="%filters.value.4"
            class="com.tulin.v8.ide.views.navigator.filters.EmptyInnerPackageFilter"
            id="com.tulin.v8.ide.views.navigator.filters.EmptyInnerPackageFilter">
      </filter>
      <filter
            targetId="com.tulin.v8.ide.navigator.views.ResourseViewer"
            name="%filters.name.5"
            enabled="false"
            description="%HideNonJavaElements.description"
            class="org.eclipse.jdt.internal.ui.filters.NonJavaElementFilter"
            id="org.eclipse.jdt.ui.PackageExplorer.NonJavaElementFilter">
      </filter>
      <filter
            targetId="com.tulin.v8.ide.navigator.views.ResourseViewer"
            name="%filters.name.6"
            enabled="true"
            description="%filters.value.6"
            class="com.tulin.v8.ide.views.navigator.filters.EmptyLibraryContainerFilter"
            id="com.tulin.v8.ide.views.navigator.filters.EmptyLibraryContainerFilter">
      </filter>
      <filter
            targetId="com.tulin.v8.ide.navigator.views.ResourseViewer"
            name="%filters.name.7"
            enabled="false"
            description="%filters.value.7"
            class="com.tulin.v8.ide.views.navigator.filters.LibraryFilter"
            id="com.tulin.v8.ide.views.navigator.filters.LibraryFilter">
      </filter>      
      <filter
            targetId="com.tulin.v8.ide.navigator.views.ResourseViewer"
            name="%filters.name.8"
            enabled="false"
            description="%filters.value.8"
            class="com.tulin.v8.ide.views.navigator.filters.ContainedLibraryFilter"
            id="com.tulin.v8.ide.views.navigator.filters.ContainedLibraryFilter">
      </filter>
      <filter
            targetId="com.tulin.v8.ide.navigator.views.ResourseViewer"
            name="%filters.name.9"
            enabled="false"
            description="%filters.value.9"
            class="com.tulin.v8.ide.views.navigator.filters.JavaFileFilter"
            id="com.tulin.v8.ide.views.navigator.filters.CuAndClassFileFilter">
      </filter>
      <filter
            targetId="com.tulin.v8.ide.navigator.views.ResourseViewer"
            name="Package declarations"
            enabled="true"
            description="Hides all package declarations"
            class="org.eclipse.jdt.internal.ui.filters.PackageDeclarationFilter"
            id="com.tulin.v8.ide.views.navigator.filters.PackageDeclarationFilter">
      </filter>
      <filter
            targetId="com.tulin.v8.ide.navigator.views.ResourseViewer"
            name="Import declarations"
            enabled="true"
            description="Hides all import declarations"
            class="org.eclipse.jdt.internal.ui.filters.ImportDeclarationFilter"
            id="com.tulin.v8.ide.views.navigator.filters.ImportDeclarationFilter">
      </filter>
      <filter
            targetId="com.tulin.v8.ide.navigator.views.ResourseViewer"
            name="Synthetic members"
            enabled="true"
            description="Java Declarations Filter"
            class="org.eclipse.jdt.internal.ui.filters.SyntheticMembersFilter"
            id="com.tulin.v8.ide.views.navigator.filters.SyntheticMembersFilter">
      </filter>
      <filter
            targetId="com.tulin.v8.ide.navigator.views.ResourseViewer"
            name="%filters.name.10"
            enabled="false"
            description="%filters.value.10"
            class="com.tulin.v8.ide.views.navigator.filters.NonJavaProjectsFilter"
            id="com.tulin.v8.ide.views.navigator.filters.NonJavaProjectsFilter">
      </filter>
      <filter
            targetId="com.tulin.v8.ide.navigator.views.ResourseViewer"
            name="%filters.name.11"
            enabled="false"
            description="%filters.value.11"
            class="com.tulin.v8.ide.views.navigator.filters.NonSharedProjectFilter"
            id="com.tulin.v8.ide.views.navigator.filters.NonSharedProjectsFilter">
      </filter>
      <filter
            targetId="com.tulin.v8.ide.navigator.views.ResourseViewer"
            name="%filters.name.12"
            enabled="false"
            description="%filters.value.12"
            class="com.tulin.v8.ide.views.navigator.filters.ClosedProjectFilter"
            id="com.tulin.v8.ide.views.navigator.filters.ClosedProjectsFilter">
      </filter>
      <filter
            targetId="com.tulin.v8.ide.navigator.views.ResourseViewer"
            name="%filters.name.13"
            enabled="false"
            description="%filters.value.13"
            class="com.tulin.v8.ide.views.navigator.filters.FieldsFilter"
            id="com.tulin.v8.ide.views.navigator.filters.FieldsFilter">
      </filter>
      <filter
            targetId="com.tulin.v8.ide.navigator.views.ResourseViewer"
            name="%filters.name.14"
            enabled="false"
            description="%filters.value.14"
            class="org.eclipse.jdt.internal.ui.filters.StaticsFilter"
            id="com.tulin.v8.ide.views.navigator.filters.StaticsFilter">
      </filter>
      <filter
            targetId="com.tulin.v8.ide.navigator.views.ResourseViewer"
            name="%filters.name.15"
            enabled="false"
            description="%filters.value.15"
            class="org.eclipse.jdt.internal.ui.filters.NonPublicFilter"
            id="com.tulin.v8.ide.views.navigator.filters.NonPublicFilter">
      </filter>
      <filter
            targetId="com.tulin.v8.ide.navigator.views.ResourseViewer"
            name="%filters.name.16"
            enabled="false"
            description="%filters.value.16"
            class="org.eclipse.jdt.internal.ui.filters.LocalTypesFilter"
            id="com.tulin.v8.ide.views.navigator.filters.LocalTypesFilter">
      </filter>
   </extension>

   
   <!--首选项-->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%page.name"
            class="com.tulin.v8.ide.preferences.StudioPreferencePage"
            id="com.tulin.v8.ide.preferences.StudioPreferencePage">
      </page>
      <page name="%page.name.4"
      		category="com.tulin.v8.ide.preferences.StudioPreferencePage"
            class="com.tulin.v8.ide.preferences.DataSousePermissionPage"
            id="com.tulin.v8.ide.preferences.DataSousePermissionPage">
      </page>
   </extension>
   
   <!--新建向导-->
    <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%category.name.1"
            id="TuLin">
      </category>
      <wizard
            name="%wizard.name.0"
            icon="icons/page.gif"
            category="TuLin"
            class="com.tulin.v8.ide.wizards.SampleNewWizard"
            id="com.tulin.v8.ide.wizards.SampleNewWizard">
      </wizard>
      <!--
      <wizard
            name="%wizard.name.1"
            icon="icons/mobile.png"
            category="YunJie"
            class="com.justep.yn.studio.wizards.mob.MobilePageWizard"
            id="com.justep.yn.studio.wizards.mob.MobilePageWizard">
      </wizard>
      -->
   </extension>
   
   <!-- 编辑器 -->
   <extension point="org.eclipse.ui.editors">
		<!--
		<editor class="com.tulin.v8.ide.ui.editors.page.WebPageEditor1"
			contributorClass="com.tulin.v8.ide.ui.editors.MultiPageEditorContributor"
			extensions="jsp,jspx,jsf"
			icon="icons/page1.gif"
			id="com.tulin.v8.ide.ui.editors.page.WebPageEditor1"
			name="%editor.name.1">
		</editor>
		<editor class="com.tulin.v8.ide.ui.editors.page.WebPageEditor1"
			contributorClass="com.tulin.v8.ide.ui.editors.MultiPageEditorContributor"
			extensions="html,htm,xhtml"
			icon="icons/page1.gif"
			id="com.tulin.v8.ide.ui.editors.page.WebPageEditor2"
			name="%editor.name.0">
		</editor>
		-->
		<editor
            name="%editor.name.10"
            extensions="table"
            icon="icons/table.gif"
            class="com.tulin.v8.ide.editors.data.DataEditor"
            contributorClass="com.tulin.v8.ide.editors.MultiPageEditorContributor"
            id="com.tulin.v8.ide.editors.data.DataEditor">
      </editor>
	</extension>
   
   <!--启动项-->
   <!--
   <extension
         id="StudioStartup"
         name="StudioStartup"
         point="org.eclipse.ui.startup">
      <startup
            class="com.tulin.v8.ide.StudioStartup">
      </startup>
   </extension>
   -->
   
   <!--帮助文档-->
   <extension
         point="org.eclipse.help.toc">
      <toc file="toc.xml" primary="true"/>
      <toc
            file="topics_api.xml"
            primary="false">
      </toc>
   </extension>

</plugin>
