<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.tulin.v8.xml.editors.XMLEditor2"
            contributorClass="com.tulin.v8.xml.contributor.XMLEditorActionBarContributor"
            extensions="xml"
            icon="icons/xml.gif"
            id="com.tulin.v8.xmleditor.editors.XMLEditor"
            name="%editor.name"
            symbolicFontName="org.eclipse.wst.sse.ui.textfont">
            <contentTypeBinding
				contentTypeId="org.eclipse.core.runtime.xml" />
			<contentTypeBinding
				contentTypeId="org.eclipse.wst.xml.core.xmlsource" />
      </editor>
   </extension>
</plugin>
